[Desktop Entry]
Type=Application
Name=PH4NTXM OpSec Process
Comment=PH4NTXM Operational Security Process Report
Exec=xfce4-terminal --disable-server --class=PH4NTXM-OpSec-Process --title="PH4NTXM OpSec Process" --hold --command="sudo /usr/local/bin/ph4ntxm-opsec-proc"
StartupWMClass=PH4NTXM-OpSec-Process
Icon=ph4ntxm-opsec-proc
Terminal=false
Categories=System;Security;X-PH4NTXMOpSecSuite;
StartupNotify=false
